CompileFlags:
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wno-unused-parameter"
    - "-DUNIT_TESTING"
  CompilationDatabase: build/

---
If:
  PathMatch: [.*\.cpp, .*\.hpp, .*\.cc, .*\.cxx]
CompileFlags:
  Add:
    - "-std=c++17"
    - "-xc++"

---
If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add:
    - "-std=c11"

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
